<div class="row">
    <div class="col-xl-6">
        <sb-card>
            <!--<div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Revenue Forecast</div>
            <div class="card-body"><sb-charts-area></sb-charts-area></div>-->
            <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Employee Count - Onsite / Offshore</div>
            <div class="card-body">
                <sb-charts-bar [type]="count"></sb-charts-bar>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-1"><div style="margin-top: 5px; height: 8px; width: 8px; background-color: rgba(2,117,216,1)"></div></div>
                    <div class="col-md-2" style="font-weight: bold; font-size: 12px; margin-left: -15px;">Offshore</div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1"><div style="margin-top: 5px; height: 8px; width: 8px; background-color: rgba(2,191,255)"></div></div>
                    <div class="col-md-2" style="font-weight: bold; font-size: 12px; margin-left: -15px;">Onsite</div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            
        </sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Total Team View</div>
             <div class="card-body">
                 <sb-charts-bar [type]="view"></sb-charts-bar>
                 <div class="row">
                     <div class="col-md-2"></div>
                     <div class="col-md-1"><div style="margin-top: 5px; height: 8px; width: 8px; background-color: rgba(2,117,216,1)"></div></div>
                     <div class="col-md-2" style="font-weight: bold; font-size: 12px; margin-left: -15px;">Offshore</div>
                     <div class="col-md-2"></div>
                     <div class="col-md-1"><div style="margin-top: 5px; height: 8px; width: 8px; background-color: rgba(2,191,255)"></div></div>
                     <div class="col-md-2" style="font-weight: bold; font-size: 12px; margin-left: -15px;">Onsite</div>
                     <div class="col-md-2"></div>
                 </div>
             </div></sb-card>
    </div>
</div>


